/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: transparent;
}

a {
  text-decoration: none;
  color: black;
}

:root {
  --tiles-color: rgba(2, 13, 36, 0.301);
}

body {
  position: relative;
  display: block;
  font-family: sans-serif;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 5, 0.918);
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
}

#gameboard-container {
  text-align: center;
}

#versus {
  font-size: 30px;
  text-shadow: 2px 4px 7px rgb(92, 89, 89);
}

#info {
  font-family: 'Calibri Light';
  color: rgb(197, 185, 185);
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 5px;
}

#player1 {
  color: rgb(11, 214, 221);
}

#player2 {
  color: rgb(255, 170, 4);
}

#thinking {
  display: none;
  font-family: monospace;
  color: white;
  margin-top: 7px;
  letter-spacing: 2px;
}

#gameboard {
  display: grid;
  justify-content: center;
  width: auto;
  height: auto;
  grid-template-columns: repeat(3, 75px);
  grid-template-rows: repeat(5, 70px);
  row-gap: 15px;
  column-gap: 12px;
  background-color: transparent;
}

button {
  outline: none;
}

.board-top {
  width: 75px;
  height: 70px;
  border: none;
  background-color: transparent;
}

#marks {
  margin-top: 44px;
  text-align: left;
  height: fit-content;
  grid-area: 1 / 1 / 2 / 2;
}

.mark {
  font-size: 25px;
  font-weight: 800;
  margin-right: 2px;
}

#x {
  color: rgb(11, 214, 221);
}

#o {
  color: rgb(255, 170, 4);
}

#next-turn {
  border-radius: 7px;
  background-color: var(--tiles-color);
  margin-top: 46px;
  padding-bottom: 4px;
  color: rgba(228, 226, 226, 0.781);
  height: 27px;
  font-size: 11px;
  font-weight: 700;
  grid-area: 1 / 2 / 2 / 3;
}

#turn-mark {
  color: rgba(228, 226, 226, 0.781);
  font-size: 15px;
  margin-right: 5px;
  font-weight: 800;
}

#refresh-btn {
  position: relative;
  grid-area: 1 / 3 / 2 / 4;
  width: 27px;
  height: 27px;
  background-color: rgb(182, 198, 212);
  margin-top: 44px;
  margin-left: 45px;
  border-radius: 4px;
  cursor: pointer;
}

#refresh-btn:hover {
  background-color: rgb(255, 255, 255);
}

#board {
  grid-area: 2 / 1 / 5 / 4;
  display: grid;
  grid-template-columns: repeat(3, 75px);
  grid-template-rows: repeat(3, 70px);
  row-gap: 15px;
  column-gap: 12px;
  width: fit-content;
  height: auto;
}

.cell {
  width: 75px;
  height: 70px;
  padding: auto;
  border-radius: 7px;
  border: none;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.993);
  background-color: var(--tiles-color);
  cursor: pointer;
}

.cell:hover {
  transform: scale(1.05);
}

.cell span {
  font-size: 40px;
  font-weight: 800;
}

#cell1 {
  grid-area: 1 / 1 / 2 / 2;
}

#cell2 {
  grid-area: 1 / 2 / 2 / 3;
}

#cell3 {
  grid-area: 1 / 3 / 2 / 4;
}

#cell4 {
  grid-area: 2 / 1 / 3 / 2;
}

#cell5 {
  grid-area: 2 / 2 / 3 / 3;
}

#cell6 {
  grid-area: 2 / 3 / 3 / 4;
}

#cell7 {
  grid-area: 3 / 1 / 4 / 2;
}

#cell8 {
  grid-area: 3 / 2 / 4 / 3;
}

#cell9 {
  grid-area: 3 / 3 / 4 / 4;
}

.state {
  width: 75px;
  height: 40px;
  padding-top: 2px;
  padding-bottom: 4px;
  font-size: 14px;
  font-weight: 600;
  font-family: Calibri;
  border: none;
  border-radius: 7px;
  box-shadow: 0 -4px 7px rgba(0, 0, 0, 0.993);
}

#playerX-state {
  grid-area: 5 / 1 / 6 / 2;
  background-color: rgb(11, 214, 221);
}

span:nth-child(3),
.state #ties {
  display: block;
  font-size: 18px;
}

#ties-state {
  grid-area: 5 / 2 / 6 / 3;
  background-color: rgb(182, 198, 212);
}

#playerO-state {
  grid-area: 5 / 3 / 6 / 4;
  background-color: rgb(255, 170, 4);
}

#overlay {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 5, 0.747);
  z-index: 1;
}

#modal {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
  background-color: rgba(33, 50, 60, 0.925);
  z-index: 2;
}

#modal-content {
  position: relative;
  width: 550px;
  height: 65%;
  margin: auto 0;
  text-align: center;
}

#win-text {
  font-size: 12px;
  font-weight: 700;
  color: rgb(211, 197, 197);
  margin-bottom: 8px;
}

#win-state {
  position: relative;
  width: auto;
  height: 50px;
  text-align: left;
  margin-bottom: 10px;
}

#win-mark {
  position: absolute;
  margin-top: 4px;
  margin-left: 154px;
  font-size: 34px;
  font-weight: 700;
  font-family: Verdana;
}

.takes {
  position: absolute;
  font-size: 22px;
  float: right;
  margin-top: 12.5px;
  margin-left: 188px;
}

#round-info {
  position: relative;
  float: left;
  margin-left: 225px;
}

.modal-btn {
  font-size: 13px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  padding: 7px 8px;
}

.modal-btn:hover {
  opacity: 0.889;
  color: white;
}

#quit-btn {
  background-color: rgb(182, 198, 212);
  margin-right: 4px;
}

@media only screen and (max-width: 550px) {
  #modal-content {
    width: 350px;
  }

  #versus {
    font-size: 28px;
  }

  .takes {
    margin-left: 86px;
  }

  #round-info {
    margin-left: 125px;
  }

  #win-mark {
    margin-left: 54px;
  }
}

@media only screen and (max-width: 500px) {
  #versus {
    font-size: 25px;
  }

  .cell span {
    font-size: 37px;
  }

  .state {
    font-size: 12px;
    padding-top: 3px;
  }

  #round-info {
    margin-left: 127px;
  }
}

@media only screen and (max-width: 400px) {
  #gameboard {
    grid-template-columns: repeat(3, 72px);
    grid-template-rows: repeat(5, 67px);
    row-gap: 15px;
    column-gap: 12px;
  }

  #versus {
    font-size: 21px;
  }

  .board-top {
    width: 72px;
    height: 67px;
  }

  #board {
    grid-template-columns: repeat(3, 72px);
    grid-template-rows: repeat(3, 67px);
  }

  .cell {
    width: 72px;
    height: 67px;
  }

  .state {
    width: 72px;
  }

  #modal {
    height: 20%;
  }

  #modal-content {
    height: 67%;
  }

  #win-text {
    margin-bottom: 5px;
  }

  #win-state {
    margin-top: 2px;
    margin-bottom: 13px;
    height: 30px;
  }

  #win-mark {
    font-size: 30px;
    margin-top: -2px;
    margin-left: 68px;
  }

  .takes {
    font-size: 19px;
    margin-top: 6px;
    margin-left: 96px;
  }

  #round-info {
    margin-left: 132px;
  }

  .btn {
    margin-top: 0;
  }
}

@media only screen and (max-width: 360px) {
  #gameboard {
    grid-template-columns: repeat(3, 68px);
    grid-template-rows: repeat(5, 64px);
    row-gap: 13px;
    column-gap: 8px;
  }

  #versus {
    font-size: 17px;
  }

  .board-top {
    width: 68px;
    height: 64px;
  }

  #refresh-btn {
    margin-left: 40px;
  }

  #board {
    grid-template-columns: repeat(3, 68px);
    grid-template-rows: repeat(5, 64px);
    row-gap: 13px;
    column-gap: 8px;
  }

  .cell {
    width: 68px;
    height: 64px;
  }

  .cell span {
    font-size: 34px;
  }

  .state {
    width: 68px;
  }

  #modal-content {
    width: 220px;
  }

  #win-mark {
    font-size: 27px;
    margin-left: 18px;
  }

  .takes {
    font-size: 16px;
    margin-left: 46px;
  }

  #round-info {
    margin-left: 75px;
  }
}
