/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: transparent;
}

body {
  position: relative;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(12, 12, 12, 0.952);
  overflow: hidden;
}

a {
  text-decoration: none;
}

#main {
  width: 485px;
  height: 400px;
  text-align: center;
}

.mark {
  font-size: 27px;
  font-weight: 900;
}

#x-mark {
  margin-right: 5px;
  color: rgb(11, 214, 221);
}

#o-mark {
  color: rgb(255, 170, 4);
}

h3 {
  position: relative;
  font-family: Calibri;
  font-size: 17px;
  color: rgba(216, 216, 216, 0.75);
  padding-top: 10px;
}

#choose-mark {
  position: relative;
  background-color: rgba(43, 44, 46, 0.692);
  width: 80%;
  height: 130px;
  margin: 20px auto 33px;
  border-radius: 10px;
  box-shadow: 0px 5px 2px rgba(13, 13, 14, 0.966);
}

#checkbox {
  display: none;
}

#marks {
  position: relative;
  background-color: black;
  width: 90%;
  height: 45px;
  margin: 10px auto 10px;
  border-radius: 5px;
  text-align: left;
}

.choice {
  margin-top: 3px;
  color: white;
  z-index: 2;
}

#x {
  position: absolute;
  color: rgba(14, 13, 13, 0.945);
  left: 80px;
}

#o {
  position: absolute;
  left: 248px;
}

#o:hover {
  color: rgba(173, 180, 180, 0.884);
}

#checkbox-label {
  cursor: pointer;
}

#checkbox:checked + label #x {
  color: white;
}

#checkbox:checked + label #x:hover {
  color: rgba(173, 180, 180, 0.884);
}

#checkbox:checked + label #o {
  color: rgba(14, 13, 13, 0.945);
}

#checkbox:checked + label #o:hover {
  color: rgba(14, 13, 13, 0.945);
}

#checkbox:checked + label #select {
  transform: translateX(168px);
}

#select {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  border-radius: 5px;
  width: 49%;
  height: 35px;
  background-color: rgb(189, 182, 182);
}

#select:hover {
  background-color: white;
}

h5 {
  font-family: Calibri;
  font-size: 14px;
  color: rgb(123, 124, 124, 0.65);
  margin: 15px auto;
}

.btn {
  display: block;
  width: 80%;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  color: rgba(0, 0, 0, 0.959);
  font-weight: 800;
  font-size: 18px;
}

#vs-cpu {
  border: 3px outset rgb(255, 170, 4);
  background-color: rgb(255, 170, 4);
}

#vs-cpu:hover {
  background-color: rgba(255, 171, 4, 0.842);
}

#vs-human {
  border: 3px outset rgb(11, 214, 221);
  background-color: rgb(11, 214, 221);
}

#vs-human:hover {
  background-color: rgba(11, 214, 221, 0.849);
}

@media only screen and (max-width: 500px) {
  #main {
    width: 90%;
  }

  h3 {
    font-size: 15px;
  }

  .mark {
    font-size: 24px;
    margin-top: 5px;
  }

  h5 {
    font: 11px;
  }

  #x {
    left: 19.94%;
  }

  #o {
    left: 70.23%;
  }

  #select {
    width: 48.8%;
    left: 3px;
    right: 3px;
  }

  #checkbox:checked + label #select {
    transform: translateX(99.64%);
  }

  .btn {
    font-size: 14px;
  }
}

@media only screen and (max-width: 400px) {
  #main {
    width: 85%;
  }

  #x {
    left: 20.75%;
  }

  #select {
    width: 48.5%;
  }
}

@media only screen and (max-width: 320px) {
  #main {
    width: 88%;
  }

  h3 {
    margin-top: 5px;
    font-size: 12px;
  }

  #choose-mark {
    padding-top: 2px;
    padding-bottom: 5px;
  }

  #marks {
    margin-top: 14px;
    margin-bottom: 15px;
  }

  h5 {
    margin-bottom: 5px; 
    font-size: 10px;
  }

  .btn {
    font-size: 12px;
  }
}

@media only screen and (max-width: 292px) {
  #main {
    width: 93%;
  }

  #vs-human {
    padding: 8px;
  }
}